
table {
	float:left;
	table-layout:fixed;
}
td {
	width: 20px;
}

#controls {
	clear: both; float: left; display: block; position: relative;
	width:100%;
}


.td_current {
	background-color: lightblue;
}



caption {
	font-weight: bold;
	text-align: center;
}
